@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,800&display=swap');

.catfont {
    font-family: 'Work Sans' !important;
}

.z-100 {
    z-index: 1000 !important;
}

body,
button {
    font-family: 'IBM Plex Sans' !important;
}

a {
    font-family: 'IBM Plex Sans' !important;
    color: '#FF449F' !important
}

.bg-gradient {
    background: linear-gradient(-65deg, #005F99, #00EAD3, #005F99, #00EAD3);
    background-size: 400% 400%;
    animation: gradient 100s ease infinite;
    height: 100vh;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}